doctype html
html
    head
        title liveview test
        link(rel="stylesheet", href="style.css")
        script(src="/socket.io/socket.io.js")

    body
        canvas#canvas.canvas(width="1280", height="960")

        #takemotion.btn-takemotion TAKEMOTION

        script(src="/client.js")
